{% extends 'base.html.twig' %}

{% block body %}
    <div class="textboxContainer">
        <label>
            <input type="text" class="searchInput" placeholder="Search for something">
        </label>
    </div>

    <div class="results">
        {# Results will be injected here by the AJAX call #}
    </div>

    {# Include jQuery or other JavaScript library #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            // Listen for keyup event on the search input
            $('.searchInput').on('keyup', function() {
                // Get the search query
                var query = $(this).val();

                // Send an AJAX request
                $.ajax({
                    url: '{{ path('search') }}',
                    method: 'POST',
                    data: {query: query},
                    success: function(response) {
                        // Inject the response into the results div
                        $('.results').html(response);
                    }
                });
            });
        });
    {% endblock %}

