<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tuniflix</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('publicAssets/style/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/be52201d6e.js" crossorigin="anonymous"></script>
    <script src="{{ asset('publicAssets/js/script.js') }}"> </script>
</head>
<body>
<div class='wrapper'>
{% include 'includes/navBar.html.twig' %}
{% block content %}

{% endblock %}
{% block script %}

{% endblock %}
    </div>
</body>
</html>